.App {
  text-align: center;
}

.videoContainer{
  width: 60%;
  height: 60%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 800px) {
  .videoContainer{
      width: 100%;
  }
}